<html>
    <body>
        <table>
            <tr>
                <td>Id</td>
                <td>Nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro de node js</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Livro de nodemon</td>
            </tr>
        </table>
    </body>
</html>